@font-face {
  font-family: main-regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: main-medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: main-semibold;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: main-bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
:root {
  --main-clr: #132577;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

h2 {
  font: 28px main-semibold;
}

h3 {
  font: 24px main-medium;
  color: var(--main-clr);
}

p {
  font: 16px main-regular;
  line-height: 1.7;
}

button {
  border: none;
  white-space: nowrap;
  width: 185px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--main-clr);
  color: #fff;
  font: 14px main-regular;
  text-transform: capitalize;
}

li {
  list-style: none;
}

a {
  all: unset;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
nav {
  display: flex;
  padding: 2rem;
  margin-left: auto;
  gap: 2rem;
  justify-content: flex-end;
}
nav a {
  border-bottom: 1px solid transparent;
  font: 1rem main-semibold;
  white-space: nowrap;
}
nav a:hover {
  cursor: pointer;
  border-color: #fff;
}

.nav-icon {
  position: absolute;
  width: 3rem;
  right: 3rem;
  top: 3rem;
  z-index: 2;
}
.nav-icon:hover {
  cursor: pointer;
}

.close {
  position: fixed;
}

@media (max-width: 1200px) {
  nav {
    display: none;
    z-index: 1;
    width: 50%;
    position: fixed;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  nav a {
    align-self: start;
    color: #000;
    font: 20px main-semibold;
  }
}
@media (max-width: 768px) {
  nav {
    width: 100%;
  }
  .nav-icon {
    width: 2rem;
    right: 1rem;
    top: 1rem;
  }
}
@media (width > 1200px) {
  .burger,
  .close {
    display: none;
  }
}
section {
  padding: 3rem 0;
}

.hero {
  background-image: url(../imgs/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 2rem 0;
}
.hero .content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: stretch;
  padding: 4rem 0;
}
.hero .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 40%;
  justify-content: center;
}
.hero button {
  background-color: #fff;
  font: 16px main-semibold;
  text-transform: uppercase;
  color: #000;
}
.hero button:hover {
  cursor: pointer;
  background-color: var(--main-clr);
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 1200px) {
  .hero .content {
    flex-direction: column-reverse;
  }
  .hero .text {
    align-items: center;
    text-align: center;
  }
}
.services header {
  text-align: center;
  margin-bottom: 3rem;
}
.services h3 {
  color: #000;
  font-family: main-bold;
}
.services p {
  font: 14px main-reqular;
}
.services .cards-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.services .card {
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  min-height: 220px;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}
.services .card:hover {
  background-color: var(--main-clr);
  cursor: pointer;
}
.services .card:hover > * {
  color: #fff !important;
}
.services a {
  display: inline;
  all: unset;
  font: 14px main-regular;
  border-bottom: 1px solid transparent;
  align-self: start;
}
.services a:hover {
  cursor: pointer;
  border-color: #fff;
}

@media (max-width: 768px) {
  .services .flex {
    flex-direction: column;
  }
}
.rates {
  font-family: main-semibold;
  text-align: center;
  padding: 5rem 0;
}
.rates .container {
  justify-content: space-around;
}
.rates h3 {
  color: #000;
}
.rates p {
  font-size: 14px;
}

@media (max-width: 768px) {
  .rates .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
.about .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.about .container div {
  flex-basis: 45%;
}
.about .container .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about .container .text > p {
  color: #666;
  font-size: 14px;
  line-height: 2.5;
}
.about .container .bullets {
  display: flex;
  flex-wrap: wrap;
}
.about .container .bullets li {
  list-style: disc;
  font: 14px main-semibold;
  width: 50%;
  margin-bottom: 1rem;
}
.about .container img:nth-child(2) {
  margin-top: -15rem;
  margin-left: -5rem;
}

@media (max-width: 1200px) {
  .about .container {
    flex-direction: column-reverse;
  }
  .about .container .text {
    text-align: center;
  }
  .about .container .imgs {
    align-self: center;
  }
  .about .container .imgs img {
    width: 80%;
  }
  .about .container .imgs img:nth-child(2) {
    margin-left: 4rem;
  }
}
@media (max-width: 768px) {
  .about .bullets {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
.findout .accord {
  text-transform: capitalize;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-align: center;
  font: 24px main-medium;
  color: var(--main-clr);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
}
.findout .accord:hover {
  cursor: pointer;
}
.findout .active {
  border: 2px solid var(--main-clr);
}
.findout .container > h2,
.findout .container > h3 {
  text-align: center;
}
.findout .container h3 {
  text-transform: capitalize;
}
.findout .container h2 {
  margin: 2rem 0;
}
.findout .container div {
  justify-content: space-between;
  gap: 1rem;
}
.findout figure {
  gap: 1rem;
}
.findout img {
  flex-basis: 40%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.findout figcaption {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}
.findout h3 {
  font: 24px main-medium;
}
.findout p {
  font: 14px main-regular;
  color: #666;
}
.findout button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--main-clr);
  color: var(--main-clr);
}

@media (max-width: 1200px) {
  figcaption {
    flex-shrink: 1.8;
  }
}
@media (max-width: 768px) {
  .findout .container .flex {
    flex-direction: column;
  }
  .findout .accord {
    text-orientation: inherit;
    writing-mode: inherit;
    transform: rotate(0);
  }
  .findout figure {
    align-items: center;
    align-self: center;
  }
  .findout figcaption {
    text-align: center;
    align-items: center;
  }
}
.testimonials {
  padding-bottom: 4rem;
}
.testimonials header {
  text-align: center;
}
.testimonials h2 {
  font-family: main-bold;
  margin: 2rem 0;
}
.testimonials img[src*=rate],
.testimonials img[src*=quote] {
  margin: 0 auto;
}
.testimonials .container .flex {
  justify-content: space-between;
  gap: 2rem;
}
.testimonials .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  position: relative;
  padding: 3rem;
  padding-bottom: 11rem;
  margin-bottom: 14rem;
  justify-content: center;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}
.testimonials figure {
  text-align: center;
  margin-top: -19rem;
}

@media (max-width: 768px) {
  .testimonials .container .flex {
    flex-wrap: wrap;
  }
}
.projects .container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.projects .container div {
  flex-basis: 45%;
}
.projects .imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.projects .imgs img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.projects .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
  padding: 0 5%;
}
.projects button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--main-clr);
  color: var(--main-clr);
}

@media (max-width: 1200px) {
  .projects .container {
    flex-direction: column;
  }
  .projects img {
    width: 100%;
  }
  .projects .text {
    padding: 0;
  }
}
.team {
  text-align: center;
}
.team h2 {
  margin: 2rem 0;
}
.team .flex {
  justify-content: space-between;
  gap: 2rem;
}
.team figure {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
}
.team .links {
  margin: 1rem 0;
  justify-content: center;
  gap: 2rem;
}
.team .links img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .team .flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .team figure {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .text {
    align-self: center;
    gap: 2rem;
  }
}
footer {
  padding: 3rem;
  justify-content: space-between;
  color: #fff;
  background-color: var(--main-clr);
}
footer h5,
footer h6 {
  color: #92989f;
  font: 18px main-semibold;
  margin-bottom: 1rem;
}
footer h6 {
  font: 12px main-regular;
}
footer a {
  all: unset;
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
footer a:hover {
  cursor: pointer;
}
footer li,
footer p,
footer a {
  list-style: none;
  font: 14px main-regular;
  margin-bottom: 10px;
}
footer p {
  display: flex;
  align-items: center;
  width: 25%;
}
footer .top,
footer .bottom {
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  footer .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
}
@media (max-width: 360px) {
  h2,
  div {
    font-size: 14px;
  }
  h3 {
    font-size: 12px;
  }
  p,
  li,
  a {
    font-size: 8px !important;
  }
  button {
    font-size: 10px;
  }
  .links > img {
    width: 25px;
  }
}/*# sourceMappingURL=style.css.map */