@font-face {
  font-family: main-regular;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: main-medium;
  src: url(./fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: main-semibold;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: main-bold;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
:root {
  --main-clr: #132577;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}

h2 {
  font: 28px main-semibold;
}

h3 {
  font: 24px main-medium;
  color: var(--main-clr);
}

p {
  font: 16px main-regular;
  line-height: 1.7;
}

button {
  border: none;
  white-space: nowrap;
  width: 185px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--main-clr);
  color: #fff;
  font: 14px main-regular;
  text-transform: capitalize;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

nav li:hover {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

nav.desktop {
  grid-area: 1/1/2/13;
  justify-self: end;
}
nav.desktop ul {
  gap: 2rem;
}
nav.desktop li {
  align-self: start;
  font: 14px main-semibold;
  white-space: nowrap;
}

nav.mobile {
  position: absolute;
  padding: 2rem;
  text-align: left;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
nav.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
nav.mobile li {
  color: #000;
  font: 20px main-semibold;
}

.burger,
.close {
  position: absolute;
  right: 3rem;
  top: 3rem;
}

@media (max-width: 768px) {
  nav.desktop {
    display: none;
  }
  .burger {
    display: block;
  }
}
@media (width > 768px) {
  nav.mobile {
    display: none;
  }
  .burger {
    display: none;
  }
}
#hero {
  min-height: 100vh;
  background-image: url(./imgs/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 2rem 0;
}
#hero .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 150px) repeat(2, 300px);
}
#hero main {
  grid-area: 2/1/4/6;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
  flex-basis: 40%;
}
#hero .img-wrapper {
  grid-area: 2/8/4/13;
  align-self: center;
}
#hero img {
  -o-object-fit: cover;
     object-fit: cover;
}
#hero button {
  background-color: #fff;
  font: 16px main-semibold;
  text-transform: uppercase;
  color: #000;
}
#hero button:hover {
  cursor: pointer;
  background-color: var(--main-clr);
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 1200px) {
  #hero .container {
    grid-template-rows: 100px repeat(2, auto) 400px;
    gap: 2rem;
  }
  #hero .img-wrapper {
    grid-area: 2/2/4/12;
    justify-self: center;
  }
  #hero main {
    grid-area: 4/2/5/12;
    align-items: center;
    text-align: center;
  }
}
#services .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
#services .container > h3 {
  color: #000;
  font-family: main-bold;
}
#services h3 {
  color: #000;
}
#services p {
  font: 14px main-reqular;
}
#services .container .flex {
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
#services .card {
  flex-basis: 23%;
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  min-height: 220px;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}
#services .card:hover {
  background-color: var(--main-clr);
  color: #fff !important;
}
#services a {
  display: inline;
  all: unset;
  font: 14px main-regular;
}
#services a:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
}

@media (max-width: 768px) {
  #services .flex {
    flex-direction: column;
  }
}
#rates {
  font-family: main-semibold;
  text-align: center;
  padding: 5rem 0;
}
#rates .container {
  justify-content: space-around;
}
#rates h3 {
  color: #000;
}
#rates p {
  font-size: 14px;
}

@media (max-width: 768px) {
  #rates .container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
#about .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
#about .container div {
  flex-basis: 45%;
}
#about .container .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#about .container .text > p {
  color: #666;
  font-size: 14px;
  line-height: 2.5;
}
#about .container .bullets {
  display: flex;
  flex-wrap: wrap;
}
#about .container .bullets li {
  list-style: disc;
  font: 14px main-semibold;
  width: 50%;
  margin-bottom: 1rem;
}
#about .container img:nth-child(2) {
  margin-top: -15rem;
  margin-left: -5rem;
}

@media (max-width: 1200px) {
  #about .container {
    flex-direction: column-reverse;
  }
  #about .container .text {
    text-align: center;
  }
  #about .container .imgs {
    align-self: center;
  }
  #about .container .imgs img {
    width: 80%;
  }
  #about .container .imgs img:nth-child(2) {
    margin-left: 4rem;
  }
}
@media (max-width: 768px) {
  #about .bullets {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
#findout .accord {
  text-transform: capitalize;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-align: center;
  font: 24px main-medium;
  color: var(--main-clr);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
}
#findout .accord:hover {
  cursor: pointer;
}
#findout .active {
  border: 2px solid var(--main-clr);
}
#findout .container > h2,
#findout .container > h3 {
  text-align: center;
}
#findout .container h3 {
  text-transform: capitalize;
}
#findout .container h2 {
  margin: 2rem 0;
}
#findout .container div {
  justify-content: space-between;
  gap: 1rem;
}
#findout figure {
  gap: 1rem;
}
#findout .img {
  width: 90%;
  border-radius: 5px;
}
#findout img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#findout figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
}
#findout h3 {
  font: 24px main-medium;
}
#findout p {
  font: 14px main-regular;
  color: #666;
}
#findout button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--main-clr);
  color: var(--main-clr);
}

@media (max-width: 1200px) {
  figcaption {
    flex-shrink: 1.8;
  }
}
@media (max-width: 768px) {
  #findout .container .flex {
    flex-direction: column;
  }
  #findout .accord {
    text-orientation: inherit;
    writing-mode: inherit;
    transform: rotate(0);
  }
  #findout figure {
    align-items: center;
    align-self: center;
  }
  #findout figcaption {
    text-align: center;
    align-items: center;
  }
}
#testimonials {
  text-align: center;
}
#testimonials h2 {
  font-family: main-bold;
  margin: 2rem 0;
}
#testimonials img[src*=rate],
#testimonials img[src*=quote] {
  margin: 0 auto;
}
#testimonials .container .flex {
  justify-content: space-between;
  gap: 2rem;
}
#testimonials .card {
  position: relative;
  padding: 3rem;
  padding-bottom: 11rem;
  margin-bottom: 14rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}
#testimonials figure {
  position: absolute;
  align-self: center;
  top: 85%;
}

@media (max-width: 768px) {
  #testimonials .container .flex {
    flex-wrap: wrap;
  }
}
#projects .container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
#projects .container div {
  flex-basis: 45%;
}
#projects .imgs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
#projects .imgs img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
#projects .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
  padding: 0 5%;
}
#projects button:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--main-clr);
  color: var(--main-clr);
}

@media (max-width: 1200px) {
  #projects .container {
    flex-direction: column;
  }
  #projects img {
    width: 100%;
  }
  #projects .text {
    padding: 0;
  }
}
#team {
  text-align: center;
}
#team h2 {
  margin: 2rem 0;
}
#team .flex {
  justify-content: space-between;
  gap: 2rem;
}
#team figure {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
}
#team .links {
  margin: 1rem 0;
  justify-content: center;
  gap: 2rem;
}
#team .links img:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  #team .flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #team figure {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }
  .text {
    align-self: center;
    gap: 2rem;
  }
}
footer {
  padding: 3rem;
  justify-content: space-between;
  color: #fff;
  background-color: var(--main-clr);
}
footer h5,
footer h6 {
  color: #92989f;
  font: 18px main-semibold;
  margin-bottom: 1rem;
}
footer h6 {
  font: 12px main-regular;
}
footer a {
  all: unset;
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
footer a:hover {
  cursor: pointer;
}
footer li,
footer p,
footer a {
  list-style: none;
  font: 14px main-regular;
  margin-bottom: 10px;
}
footer p {
  display: flex;
  align-items: center;
  width: 25%;
}
footer .top,
footer .bottom {
  justify-content: space-between;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  footer .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
  }
}/*# sourceMappingURL=index.css.map */